%section#theprofile
  %div.wrapper.clearfix.webkit
    %div.left.box
      %span.avatar
        = image_tag(@profile.picture_url || 'avatar-placeholder.jpg', alt: @profile.full_name)

    %div.right.box
      %h3
        %span.firstname.blue
          = @profile.firstname
        %span.name.blue
          = @profile.lastname
      %h4
        = @profile.last_position
      %ul.expert.clearfix
        - @profile.skills.limit(3).each do |skill|
          %li= link_to skill.label, '#', title: skill.label, class: :tag

      .linked_in_url= link_to @profile.linked_in_url

      %div.contact
        /%a.btcontact.button{ href: '#', title: 'contacter par email' } contacter par email
        %button.btn.btn-primary.btn-lg.button{ 'data-toggle'=>'modal', 'data-target'=>'#contactForm'} contacter par email
        %p.social
          = link_to("Twitter", @profile.twitter_url, title: 'Twitter', class: :twitter) if @profile.twitter_url
          = link_to("LinkedIn", @profile.linked_in_url, title: 'LinkedIn', class: :linkedin) if @profile.linked_in_url
          = link_to("Facebook", @profile.facebook_url, title: 'Facebook', class: :facebook) if @profile.facebook_url
          = link_to("Google Plus", @profile.google_plus_url, title: 'Google Plus', class: :googleplus) if @profile.google_plus_url

    
= render 'pages/suggest_profile'
    
= render 'pages/modal_contact'    
    
    
    
    
