- @page_title = @profile.full_name
- @page_description = "Page profil de #{@profile.full_name}, experte #{@profile.skills.map(&:label).join(', ')}; Les Expertes du Numérique"
- @page_keywords = ([@profile.full_name, @profile.firstname, @profile.lastname] + @profile.skills.map(&:label) + ["expertes", "numérique", "expertes numérique"]).join(',')

%section#theprofile
  %div.wrapper.clearfix.webkit
    %div.left.box
      %span.avatar
        = image_tag(@profile.picture_url || 'avatar-placeholder.jpg', alt: @profile.full_name)

    %div.right.box
      %h3
        %span.firstname.blue
          = @profile.firstname
        %span.name.blue
          = @profile.lastname
      %h4
        = @profile.last_position
      %ul.expert.clearfix
        - @profile.skills.limit(3).each do |skill|
          %li= link_to skill.label, skill_path(skill.to_url), title: skill.label, class: :tag

      %div.contact
        /%a.btcontact.button{ href: '#', title: 'contacter par email' } contacter par email
        %button.btn.btn-primary.btn-lg.button{ 'data-toggle'=>'modal', 'data-target'=>'#contactFormSingle'} contacter par email
        %p.social
          = link_to("LinkedIn", @profile.linked_in_url, title: 'LinkedIn', class: :linkedin, target: '_blank' ) if @profile.linked_in_url.present?
          = link_to("Twitter", @profile.twitter_url, title: 'Twitter', class: :twitter, target: '_blank') if @profile.twitter_url.present?
          = link_to("Facebook", @profile.facebook_url, title: 'Facebook', class: :facebook, target: '_blank') if @profile.facebook_url.present?
          = link_to("Google Plus", @profile.google_plus_url, title: 'Google Plus', class: :googleplus, target: '_blank') if @profile.google_plus_url.present?


= render 'pages/suggest_profile'

= render 'pages/modal_contact'

= render 'pages/modal_contact_profile'

%div#contactMsg.alert.alert-success{ role: 'alert', style: 'display: none;'}
  %p
    Votre message a bien été envoyé.
  %p
    Merci !
