%section#theprofile
  %div.wrapper.clearfix
    %div.left.box
      %span.avatar
        = image_tag(@profile.picture_url || 'avatar-placeholder.jpg', alt: @profile.full_name)

    %div.right.box
      %h3
        %span.firstname.blue
          = @profile.firstname
        %span.name.blue
          = @profile.lastname
      %h4
        = @profile.last_position
      %ul.expert.clearfix
        - @profile.skills.limit(3).each do |skill|
          %li= link_to skill.label, '#', title: skill.label, class: :tag

      .linked_in_url= link_to @profile.linked_in_url

      %div.contact
        /%a.btcontact.button{ href: '#', title: 'contacter par email' } contacter par email
        %button.btn.btn-primary.btn-lg.button{ 'data-toggle'=>'modal', 'data-target'=>'#contactForm'} contacter par email
        %p.social
          = link_to("Twitter", @profile.twitter_url, title: 'Twitter', class: :twitter) if @profile.twitter_url
          = link_to("LinkedIn", @profile.linked_in_url, title: 'LinkedIn', class: :linkedin) if @profile.linked_in_url
          = link_to("Facebook", @profile.facebook_url, title: 'Facebook', class: :facebook) if @profile.facebook_url
          = link_to("Google Plus", @profile.google_plus_url, title: 'Google Plus', class: :googleplus) if @profile.google_plus_url

%div#contactForm.modal.fade{ tabindex: '-1', role: 'dialog', 'aria-labelledby'=>'myModalLabel', 'aria-hidden'=>'true' }
  %div.modal-dialog
    %div.modal-content
      %div.modal-header
        %h4#contactFormTitle.modal-title Contactez-nous !
      %div.modal-body
        %form
          %input{ type: 'email', value: '', name: 'email', id: 'email', placeholder: 'votre email'}
          %input{ type: 'name', value: '', name: 'name', id: 'name', placeholder: 'votre nom' }
          %input{ type: 'text', value: '', name: 'subject', id: 'subject', placeholder: 'sujet du message' }
          %textarea{ placeholder: 'votre message' }
      %div.modal-footer
        %button.btn.btn-default{ 'data-dismiss'=>'modal' } Annuler
        %button.btn.btn-primary Envoyer
    
= render 'pages/suggest_profile'
    
    
    
    
    
    
