%section#expertesrandom

  %h2 Quelques expertes du réseau

  %div.wrapper
    %ul.profilist
      - @random_profiles.each do |profile|
        %li.profilistitem
          = link_to(profile, title: profile.full_name) do
            %span.avatar
              = image_tag("http://www.onemorethingstudio.com/fr/wp-content/uploads/sites/2/2013/03/jeremie.jpg", alt: profile.full_name)
            %h3
              %span.firstname.blue= profile.firstname
              %span.name.blue= profile.lastname
            %span.line
            %ul
              - profile.skills.each do |skill|
                %li= link_to skill.label, '#', title: skill.label
  %span.bgline
