%section#partners
  %h2 Ils nous soutiennent
  
  %div#parnersOne
    %div.wrapper.partnerslide
      %span.loader.circles
      %ul.slides
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://www.audiovideohd.fr/i/imgs/6297-4.jpg", :alt => "Fnac")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
    
  %div#parnersTwo
    %div.wrapper.partnerslide
      %span.loader.circles
      %ul.slides
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://www.audiovideohd.fr/i/imgs/6297-4.jpg", :alt => "Fnac")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")            

  %div#parnersThree
    %div.wrapper.partnerslide
      %span.loader.circles
      %ul.slides
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://www.audiovideohd.fr/i/imgs/6297-4.jpg", :alt => "Fnac")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")

  %div#parnersFour
    %div.wrapper.partnerslide
      %span.loader.circles
      %ul.slides
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://www.audiovideohd.fr/i/imgs/6297-4.jpg", :alt => "Fnac")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
            
  %div#parnersFive
    %div.wrapper.partnerslide
      %span.loader.circles
      %ul.slides
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://www.audiovideohd.fr/i/imgs/6297-4.jpg", :alt => "Fnac")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
        %li
          %a{ href: '#', title: 'Title' }
            = image_tag("http://preview.omts.fr/hosting/omts-white@2x.png", :alt => "OneMoreThing studio")
            
            
