!!!
%html
  %head
    %title Les Expertes du Numérique
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header
      %h1= link_to "Les Expertes du Numérique", root_path

    %nav
      %ul
        %li= link_to "Les expertes", profiles_path
        %li= link_to "Le label Girlz in Web", about_path
        %li= link_to "Ils nous soutiennent", sponsors_path
        %li= link_to "Contact", contact_path


    = yield

    %footer
      Mentions légales etc...
