!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ 'http-equiv' => "X-UA-Compatible", content: "IE=edge" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }
    %title Les Expertes du Numérique
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body{ class: "#{controller_name} #{action_name}" }
    %header
      %div#topnav
        %div.wrapper
          %ul
            %li
              %a{ href: 'http://www.girlzinweb.com', title: 'Girlz in web' } Girlz in web
            %li
              %a{ href: 'http://girlzinweb.com/charte-editoriale/', title: 'Charte éditoriale' } Charte éditoriale
            %li
              %a{ href: 'http://girlzinweb.com/a-propos/contribuer/', title: 'Participer' } Participer
            %li
              %a{ href: 'http://girlzinweb.com/auteures/', title: 'Auteures' } Auteures
            %li
              %a{ href: 'http://girlzinweb.com/adherent-e-s-giw/', title: 'Accès Adhérent-e-s GIW' } Accès Adhérent-e-s GIW
            %li
              %a{ href: 'http://girlzinweb.com/contact/', title: 'Contacts' } Contacts
            
      %div.main
        %div.img
          %h1= link_to "Les Expertes du Numérique", root_path
          %p.wrapper
            Vestibulum id ligula porta felis euismod semper. Donec id elit non mi porta gravida at eget metus.
      
          
          = render 'pages/profile_search_form'
          
    = yield

    %footer
      Mentions légales etc...
